<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body>
  	<div class="home_banner">
      <div class="home_image">
      <img src="http://media.spokesman.com/photos/2012/08/13/0813_then_t1140.jpg?abf36d44fcda22a1f7041162086f31df6a374511" />
      </div>
      <h2 class="home_text">Hello there. I'm <strong>Caleb Meacham</strong>, and I develope beautiful apps.</h2>
    </div>
  </body>
</html>
