/* Navbar */
.navbar-ul {
  list-style: none;
  padding-top: 1px;
}

.home_links {
  display: inline;
  padding: 20px;
  float: right;
  font-family: 'Roboto';
  font-weight: 700;
  color: black;
}

.home_links:hover {
  display: inline;
  padding: 20px;
  float: right;
  font-family: 'Roboto';
  font-weight: 700;
  color: red;
}

.nav.navbar {
  background-color: white;
}

/* Home Page Banner*/
.home_banner {
  width: 100%;
}

.home_image {
  position: relative;
  width: 100%;
}

.home_text {
  position: absolute;
  top: 200px;
  left: 20px;
  color: white;
  background-color: #990000;
  opacity: .5;
}

/* Footer */
footer {
  margin-top: 60px;
  float: right;
}

.fa.fa-github.fa-3x {
  padding-right: 15px;
  padding-bottom: 15px;
}

.fa.fa-envelope.fa-3x {
  padding-right: 15px;
  padding-bottom: 15px;
}

.fa.fa-stack-overflow.fa-3x {
  padding-right: 15px;
  padding-bottom: 15px;
}

.fa.fa-copyright {
  padding-right: 15px;
  padding-bottom: 15px;
}

.footer_icons {
  color: black;
}
